/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 100px !important;
}

.error {
  color: #9f3a38;
}

.gray {
  background-color: #7f8c8d;
}

.sensor {
  margin-top: 20px;
  color: #ecf0f1;
}

.rounded-corners {
  border-radius: 3%;
}

.sensor-status {
  background-color: gray;
  margin-top: 10px;
  padding: 10px;
}

.sensor-status-inactive {
  border-radius: 15px;
  margin-top: 10px;
  padding: 10px;
  background-color: #e74c3c;
}

.sensor-status-active {
  border-radius: 15px;
  margin-top: 10px;
  padding: 10px;
  background-color: #2ecc71;
}

.no-margin {
  margin-bottom: 0 !important;
}

.word-wrap {
  white-space: pre-wrap;      /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE */
}